:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;

  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-heart-color: #dc143c;
}
.nav-decoration {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}
.buttons-decoration {
  padding: 5px;
  justify-content: space-between;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  color: var(--brand-primary);
  font-size: large;
  font-weight: bold;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
#nav-button {
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--lines-color);
}
#welcome-color {
  font-size: x-large;
  font-weight: 900;
  color: var(--brand-secondary);
}
.welcome-statement-decoration {
  width: 30%;
  margin: 0 auto;
  text-align: left;
  margin-top: -30px;
  margin-bottom: 20px;
}
.main-decoration {
  
  display: flex;
  flex-direction: column;
}
.welcome-statement-decoration span {
  font-size: medium;
  display: block;
}
.search-bar{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dropDownDiv{
  position: relative;
  display: inline-block;
  width: 10%;
}
#leftDropDown{
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
}
#rightDropDown{
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 0px 10px 10px 0px; 
}

#search {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-top: 20px;
  border: 2px solid var(--lines-color);
  border-radius: 10px 0px 0px 10px;
  width: calc(100% - 40px); 
  margin-left: 40px; 
}
.content{
  display: flex;
  flex-direction: column;
  padding: none;
  width: 100%;
  background-color:var(--bg_body);

}

.sort-label {
  font-size:x-small;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
  padding: 0 5px;
  padding-left: 10px;
  color: #333; 
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

#searchWithIcon {
  position: relative;
  width: 65%;

}

#result{
  margin: 15px;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 170px;
  


}
.left-triangle{
  position:absolute;
  width: 0;
  height: 0;
  border-top: 100px solid var(--brand-primary) ;
  border-right: 1600px solid transparent;
  
}
.right-triangle{
  position: relative;
  width: 0;
  height: 0;
  border-top: 100px solid var(--brand-secondary);
  border-left: 2000px solid transparent;
  z-index: -1;
  
}
.triangles{
  display: flex;
  
  
}
.card-table{
  
  width: 40%;
}
.card:hover {
  transform: translateY(-10px);
  
}
#img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
  }
.card{
  border-radius: 20px;
  background-color: white;
}
