:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;

  --dark-brand-primary: #0768ac;
  --dark-brand-secondary: #03c180;
  --dark-bg_default: #1a1a1a;
  --dark-bg_body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #ededed;
  --dark-heart-color: #dc143c;
  --auther :#8E8E8E;
}
*{
  box-sizing: border-box;
  color: var(--body-text);
}
.header{
  background-color: var(--bg_default);
}

.nav-decoration {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}
.buttons-decoration {
  padding: 5px;
  justify-content: space-between;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  padding-top: 10px;
  color: var(--brand-primary);
  font-size: large;
  font-weight: bold;
}
body {
  background-color: var(--bg_body);
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav-button-favourites {
  background-color: var(--bg_default);
  color: var(--body-text);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--lines-color);
}
#nav-button-dark {
  background-color: var(--bg_default);
  color: var(--body-text);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--lines-color);
}
#welcome-color {
  font-size: x-large;
  font-weight: 900;
  color: var(--brand-secondary);
  width: 445px;
}
.welcome-statement-decoration {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
}
.main-decoration {
  
  display: flex;
  flex-direction: column;
}
.welcome-statement-decoration span {
  font-size: medium;
  width: 445px;
  color: var(--body-text);
}





.content{
  display: flex;
  flex-direction: column;
  padding: none;
  width: 100%;
  background-color: var(--bg_body);
  align-items: center;

}
#wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#default{
  color: var(--body-text);
}




#result{
  color: var(--body-text);
  margin: 15px;
  font-size: x-large;
  font-weight: bolder;
  width: 90vw;    
  margin-bottom: 25px;

  


}

.left-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50px solid var(--brand-primary); /* Using vw (viewport width) unit */
  border-right: 80vw solid transparent; /* Adjust the width relative to the container */
  z-index: 1;
}

.right-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid var(--brand-secondary);
    border-left: 80vw solid transparent;
    left: 20vw;
  
}

.triangles {
  position: relative; /* Ensure the triangles are positioned relative to this container */
  width: 100vw; /* Make the container full width */ /* Make the container full height */
}
.card-table{
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 236px);
  justify-content: space-between;
  gap: 29px;
}
.card:hover {
  transform: translateY(-10px);
  
}
.img{
  min-height: 140px;
  object-fit: cover;
  margin-bottom: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  }
.card{
  
  width: 236px;
  border-radius: 10px;
  background-color: var(--bg_default);
}
.container{
  padding: 13px;
  padding-top: 4px;
}
.Category{
  font-size: 12.5px;
  font-weight: 600;
  color: var(--body-text);
  margin-bottom: 0;

}
.topic{
  color: var(--body-text);
  margin-bottom: 20px;
  margin-top: 0;
}
.rating{
  color: #e9961a;
}
.author{
  color: var(--auther);
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  
}
.search-bar{
  display: flex;
  width: 90vw;
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  height: 55px;
  margin-top: 20px;
  box-shadow: 1px 1px 5px 1px var(--lines-color);
  border-radius: 10px;
}
#searchWithIcon{
  display: flex;
  width: calc(65vw + 30px);
  justify-content: space-around;
  align-items: center;
}
#searchWithIcon ion-icon{
  width: 30px;
  font-size: 20px;
  color: var(--body-text);

}
#searchWithIcon input{
  width: 65vw;
  background-color: var(--bg_default);
  border: 0;
  font-size: 20px;
  height: 45px;
  padding: 0;

}
.filter{
  display: flex;
  width: calc(25vw - 30px);
  justify-content: center;
  align-items: center;
  height: 55px;

}
#dropDownDiv{
  width: calc(12vw - 15px);
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--lines-color);

  
}
#dropDownDiv select{
  border: 0;
  width: calc(10vw - 15px);
  height: 30px;
  background-color: var(--bg_default);

}
.sort-label{
  font-size: 12px;
  background-color: var(--bg_default);
  font-weight: 500;
  width: calc(10vw - 20px) ;
}
.stars{
  display: flex;
  align-items: center;
  height: 20px;
}
@media screen and (max-width: 600px) {
  .card {
      width: calc(50% - 10px); /* 50% width minus half the gap */
  }
  #dropDownDiv{
    width: 45vw;

  }
  .search-bar {
    display: flex;
    flex-direction: column;
  }
  .filter{
    width: 90vw;
  }
  #leftDropDown{
    width:45vw ;
  }
  #rightDropDown{
    width:45vw ;
  }
  
  .dropDownDiv select{
    width: 45vw;
  }
  .sort-label{
    width: 45vw;
  }
}

#staticBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg_default);
  padding: 10px;
  display: none;
}